---
import { classNames } from "../../utils/classNames"

interface Props {
    "aria-invalid"?: boolean;
    className?: string;
}

const { className } = Astro.props;
const ariaInvalid = Astro.props["aria-invalid"];
---
<div 
    class={classNames(
        "flex flex-col space-y-3 group",
        className
    )}
    aria-invalid={ariaInvalid}
>
    <slot />
</div>
