---
import { classNames } from "@utils/classNames"
import type { HTMLAttributes } from "astro/types";
import Heading5 from "@components/heading/Heading5.astro";

interface Props extends HTMLAttributes<'legend'>{
    title?: string;
    subtitle?: string;
    className?: string;
    wrapperClassName?: string;
}

const { 
    title,
    subtitle,
    className,
    wrapperClassName,
    ...props
 } = Astro.props;
---
<div class={classNames(
    "col-span-full",
    wrapperClassName
)}>
<legend class={classNames(
    "space-y-1.5",
    className
)} {...props}>
    {!!title && <Heading5 title={title} subtitle={subtitle} />}
    <slot />
</legend>
</div>