---
import { classNames } from "@utils/classNames"

interface Props {
    className?: string;
}

const { 
    className
 } = Astro.props;
---
<div class={classNames(
    "flex flex-col", 
    "px-8 py-10 grow", 
    "space-y-6",
    className
)}>
    <slot />
</div>