---
import { classNames } from "@/utils/classNames";
import Heading5 from "@/components/heading/Heading5.astro";

export interface Props {
    title?: string;
    subtitle?: string;
    class?: string;
}

const { title, subtitle, class: className, ...props } = Astro.props;
---

<div class={classNames("border-b pb-5", className)} {...props}>
    {title && <Heading5 title={title} subtitle={subtitle} />}
    <slot />
</div>
