---
import { classNames } from "@utils/classNames"

interface Props {
    title?: string;
    subtitle?: string;
    className?: string;
    subtitleClass?: string;
    wrapperClass?: string;
}

const { title, subtitle, className, subtitleClass, wrapperClass } = Astro.props;
---
<div class={classNames("space-y-1.5", wrapperClass)}>
    { !!title
        ? <h2 class={classNames("text-3xl font-bold tracking-tight", className)}>{ title }</h2>
        : <slot />
    }
    { !!subtitle && <p class={classNames("text-md text-muted-foreground", subtitleClass)}>{ subtitle }</p> }
</div>