---
import Base from '../layouts/Base.astro'
import Pane from '../components/Pane.astro'
import Button from '../components/button/Button.astro'

const title = 'Crafted UI Docs'
const description = 'Documentation for the Crafted UI component library.'
---
<Base title={title} description={description}>
	<Pane>
		<div class="mx-auto max-w-2xl px-4 py-32 flex">
			<div class="max-w-xl">
				<h1 class="text-5xl font-extrabold tracking-tight text-foreground">
					Start crafting your next project.
				</h1>
				<p class="mt-4 text-lg text-foreground">
					Crafted UI provided a great looking set of modern components that help you build faster.
				</p>
				<div class="mt-8">
					<Button type="button" color="primary">
						<a href="/docs/components">View Components</a>
					</Button>
				</div>
			</div>
			<div>

			</div>
		</div>
	</Pane>
</Base>
