---
import { classNames } from "@utils/classNames";
import Heading5 from "../heading/Heading5.astro";

interface Props {
  status?: 'warning' | 'danger' | 'success' | 'info';
  title: string;
  class?: string;
}

const { status = 'warning', title, class: className } = Astro.props;

const colors = {
  warning: 'bg-warning/10 border-warning/50 text-warning',
  danger: 'bg-danger/10 border-danger/50 text-danger',
  success: 'bg-success/10 border-success/50 text-success',
  info: 'bg-info/10 border-info/50 text-info',
};
---
<div class={classNames(
  "p-4 border rounded-md",
  "flex flex-col gap-2",
  "text-sm", 
  colors[status], 
  className
)}>
  {!!title && (
    <Heading5 title={title} />
  )}
  <slot />
</div>