---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<'div'> {
    open?: boolean;
}

const { open = false, ...props } = Astro.props;
---

<div {...props}>
    <slot />
</div>
