---
import { classNames } from "@utils/classNames"

interface Props {
    error?: string;
    className?: string;
}

const {
    error, 
    className
 } = Astro.props;
---
<div class={classNames("text-sm text-red-600", className)}>
    { error }
</div>