---
import { classNames } from "@utils/classNames"

interface Props {
    className?: string;
    text?: string;
    position?: "left" | "right";
}

const { 
    className,
    text,
    position = "right"
 } = Astro.props;
---
<div class={classNames(
    "pointer-events-none absolute top-[1.75rem] h-[2.5rem] flex items-center",
    position === "left" ? "left-0 pl-3 inset-left" : "right-0 pr-3 inset-right", 
    className
)}>
    {!!text 
        ? <span class="text-muted-foreground text-sm">{text}</span>
        : <slot />
    }
</div>
