---
import { classNames } from "@utils/classNames"
import FieldLabel from "./FieldLabel.astro";

interface Props {
    className?: string;
    label?: string;
}

const { 
    className,
    label
 } = Astro.props;
---
<div class={classNames(
    "relative space-y-1.5",
    "col-span-full",
    className
)}>
    {!!label && <FieldLabel>{label}</FieldLabel>}
    <slot />
</div>