---
import { classNames } from "@utils/classNames"

interface Props {
    className?: string;
}

const { 
    className
 } = Astro.props;
---
<div class={classNames(
                "flex items-center gap-x-1.5",
                "pb-1 text-sm font-medium text-neutral-700", 
                className
            )}>
    <slot />
</div>