---
---
<footer class="bg-background border-t border-border">
    <div class="mx-auto max-w-container px-2 sm:px-6 lg:px-8">
        <div class="flex py-6">
            <div class="text-muted-foreground">
                © 2025 Crafted UI. All rights reserved.
            </div>
        </div>
    </div>
</footer>