---
import { classNames } from "../utils/classNames"

interface Props {
    type?: string;
    color?: string;
    href?: string;
}

const { type = 'button', color = 'default', href } = Astro.props;

const buttonType = (type === 'link') ? 'button' : type as ("reset" | "submit" | "button" | null | undefined);

const colorStyle = (color: string) => {
    switch(color) {
        case "green":               return "border-transparent text-white bg-green-700 hover:bg-green-800 focus:ring-green-300";
        case "red":                 return "border-transparent text-white bg-red-700 hover:bg-red-800 focus:ring-red-300";
        case "yellow":              return "border-transparent text-white bg-yellow-400 hover:bg-yellow-800 focus:ring-yellow-300";
        case "blue":                return "border-transparent text-white bg-blue-700 hover:bg-blue-800 focus:ring-blue-300";
        case "indigo":              return "border-transparent text-white bg-indigo-700 hover:bg-indigo-800 focus:ring-indigo-300";
        case "white":               return "border-gray-300 text-neutral-700 bg-white hover:bg-gray-50 focus:ring-indigo-500";

        case "outline-red":         return "border-red-700 text-red-700 bg-transparent hover:bg-red-50 focus:ring-red-300";
        case "outline-green":       return "border-green-700 text-green-700 bg-transparent hover:bg-green-50 focus:ring-green-300";

        default:                    return "border-transparent text-white bg-green-700 hover:bg-green-800 focus:ring-green-300";
    }
}

const classes = classNames(
                colorStyle(color),
                "rounded-md",
                "border px-2 py-2",
                "text-sm font-semibold shadow-sm",
                "focus:outline-none focus:ring-2 focus:ring-offset-2"
            )
---
{ 
    type === 'link'
    ? (
        <a  href={href}
            class={classes}>
            <slot />
        </a>
    )
    : (
        <button type={buttonType}
                class={classes}>
            <slot />
        </button>
    )
}