---
import { classNames } from "../utils/classNames"
import CardHeader from "./CardHeader.astro";

interface Props {
    title?: string;
    subtitle?: string;
}

const { title, subtitle } = Astro.props;
---
<div class="rounded-md border border-neutral-200 bg-white shadow shadow-neutral-300 flex flex-col">
    {
        !!title &&
        <CardHeader title={title} subtitle={subtitle} />
    }
    <slot />
</div>