---
import { classNames } from "@/utils/classNames"

interface Props {
    color?: string;  
    bgColor?: string;
    textColor?: string;
    usage?: string;
    text?: string;
    className?: string;
}

const { 
    color = 'background', 
    bgColor = 'bg-background', 
    textColor = 'text-foreground', 
    usage = 'Color', 
    text = color[0], 
    className 
} = Astro.props;
---
<div class="flex items-center gap-3">
    <div class={classNames("size-10 rounded",
                            bgColor, textColor,
                            "flex items-center justify-center font-bold",
                            "border border-border",
                            className
                        )}>
        { text }
    </div>
    <div>
      <div class="font-mono text-sm">—{ color }</div>
      <div class="text-xs text-muted-foreground">Text as <span class="font-mono">{ textColor }</span></div>
      <div class="text-xs text-primary mt-1">{ usage }</div>
    </div>
  </div>