---
---
<footer class="bg-background">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8 border-t">
        <div class="flex">
            <div class="text-muted-foreground">
                © 2025 Crafted UI. All rights reserved.
            </div>
        </div>

    </div>
</footer>