---
import { classNames } from "../utils/classNames"
---
<div class={classNames(
                "prose dark:prose-invert",
                "prose-h1:text-5xl prose-h1:font-bold prose-h1:text-neutral-800",
                "prose-a:text-blue-600",
                "max-w-none",
            )}>
    <slot />
</div>