---
interface Props {
    full?: boolean;
}

const { full = false } = Astro.props;
---
<div class="rounded-lg border border-border bg-background shadow-sm not-prose">
    <div class="max-w-4xl m-auto">
        <div class={ full ? "" : "px-6 py-6 lg:py-8" }>
            <slot />
        </div>
    </div>
</div>