---
import { classNames } from "../utils/classNames"
import HeaderSection from "./HeaderSection.astro";
import Prose from "./Prose.astro";

interface Props {
    title?: string;
    subtitle?: string;
    prose?: boolean;
}

const { title, subtitle, prose = true } = Astro.props;
---
<section class="[&:not(:first-child)]:mt-12">
    { 
        !!title && (
        <HeaderSection title={title} subtitle={subtitle} />
        )
    }
    <div class="mt-6"
        (...prose && is={Prose})>
        <slot />
    </div>
</section>
