---
import { classNames } from "../utils/classNames"
import HeaderSection from "./HeaderSection.astro";
import Prose from "./Prose.astro";

interface Props {
    title?: string;
    subtitle?: string;
    className?: string;
    prose?: boolean;
}

const { title, subtitle, prose = true, className } = Astro.props;
---
<section class="[&:not(:first-child)]:mt-12 space-y-6">
    { 
        !!title && (
        <HeaderSection title={title} subtitle={subtitle} />
        )
    }
    <div class="mt-6">
        {
            prose
            ?   (<Prose >
                    <slot />
                </Prose>)
            :   <slot />
        }
    </div>
</section>
