---
import { classNames } from "@utils/classNames"

interface Props {
    className?: string;
}

const { className } = Astro.props;
---
<aside>
    <div class={classNames(  "w-sidebar group bg-background",
                            "flex flex-col space-y-4",
                            "pt-8",
                            className)}>
        <slot />
    </div>
</aside>