---
import { classNames } from "../utils/classNames"

interface Props {
    href?: string;
}

const { href = '#' } = Astro.props;
---
<a  href={ href } 
    class="h-8 w-full flex items-center rounded-lg px-2 text-sm text-foreground hover:bg-muted">
        <slot />
</a>