---
import { classNames } from "@/utils/classNames"
import type { HTMLAttributes } from "astro/types";
import SectionHeader from "./SectionHeader.astro";
import Prose from "../Prose.astro";

interface Props extends HTMLAttributes<'section'> {
    title?: string;
    subtitle?: string;
    className?: string;
    prose?: boolean;
}

const { 
    title, 
    subtitle, 
    prose = true,
    className, 
    ...props 
} = Astro.props;

const classes = classNames(
    "[&:not(:first-child)]:mt-12 space-y-8", 
    className
);
---
<section class={classes} {...props}>
    { !!title &&
        <SectionHeader title={title} subtitle={subtitle} />
    }
    {
        prose
        ?   (<Prose className="space-y-8">
                <slot />
            </Prose>)
        :   <slot />
    }
</section>