---
import { classNames } from "../../utils/classNames"
import type { HTMLAttributes } from "astro/types";
import Heading1 from "../heading/Heading1.astro";

interface Props extends HTMLAttributes<'header'> {
    title?: string;
    subtitle?: string;
    className?: string;
    wrapperClassName?: string;
}

const { 
    title, 
    subtitle, 
    className, 
    wrapperClassName, 
    ...props 
} = Astro.props;

const classes = classNames(
    (!!title && Astro.slots.has('default')) ? "md:flex md:items-center md:justify-between" : "",
    wrapperClassName
);
---
<header class={classes} {...props}>
    { !!title
        ? <div class="space-y-6">
            <div>
                <Heading1 title={title} subtitle={subtitle} className={className} />
            </div>
            { Astro.slots.has('default') &&
                <div>
                    <slot />
                </div>
            }
        </div>
        : <slot />
    }
</header>