---
import { classNames } from "../../utils/classNames"
import type { HTMLAttributes } from "astro/types";
import Heading1 from "../heading/Heading1.astro";

interface Props extends HTMLAttributes<'header'> {
    title?: string;
    subtitle?: string;
    className?: string;
    wrapperClassName?: string;
}

const { 
    title, 
    subtitle, 
    className, 
    wrapperClassName, 
    ...props 
} = Astro.props;
---
<header class={classNames(
            "max-w-container mr-auto w-full",
            "px-6 lg:px-8",
            "space-y-6 md:flex md:items-start md:justify-between",
            wrapperClassName)} {...props}>
    { !!title
        ?   <>
            <div>
                <Heading1 title={title} subtitle={subtitle} className={className} />
            </div>
            { Astro.slots.has('default') &&
                <div>
                    <slot />
                </div>
            }
            </>
        : <slot />
    }
</header>