---
import { classNames } from "../../utils/classNames"
import type { HTMLAttributes } from "astro/types";
import PageHeader from "./PageHeader.astro";

interface Props extends HTMLAttributes<'div'> {
    title?: string;
    subtitle?: string;
    className?: string;
}

const { 
    title, 
    subtitle, 
    className, 
    ...props 
} = Astro.props;
---
<main class="grow py-6 lg:py-8 space-y-10">
    { !!title &&
        <PageHeader 
            title={title} 
            subtitle={subtitle} 
        />
    }
    <div class={classNames(
            "max-w-container mr-auto",
            "px-4 sm:px-6 lg:px-8",
            "space-y-12",
            className)} {...props}>
        <slot />
    </div>
</main>
