---
import { classNames } from "@/utils/classNames";

export interface Props {
    class?: string;
}

const { class: className, ...props } = Astro.props;
---

<table class={classNames("table-auto w-full text-sm", className)} {...props}>
    <slot />
</table>
