---
import Base from "./Base.astro";
import HeaderPage from "@components/HeaderPage.astro";
import Sidebar from "@components/Sidebar.astro";
import Vertlist from "@components/vertlist/Vertlist.astro";
import VertlistItem from "@components/vertlist/VertlistItem.astro";
import VertlistHeader from "@components/vertlist/VertlistHeader.astro";
import { sidebarLinks } from "@data/sidebar";

const pathname = new URL(Astro.request.url).pathname;

const { 
    title = "Crafted UI Docs", 
    description = "Documentation for the Crafted UI component library."
} = Astro.props;
---
<Base title={title} description={description}>
    <div class="lg:flex lg:gap-10 px-4 lg:px-6">
        <div class="hidden lg:block">
            <Sidebar className="space-y-8">
                { sidebarLinks.map((sect) => (
                    <Vertlist>
                        <VertlistHeader>{ sect.title }</VertlistHeader>
                            { sect.items.map((item) => (
                                <VertlistItem>
                                    <a href={item.href} class={pathname == item.href ? "active" : ""}>{item.title}</a>
                                </VertlistItem>
                            ))}
                    </Vertlist>                       
                ))}
            </Sidebar>
        </div>
        <div class="grow max-w-3xl">
            <main class="py-6 lg:py-8">
                <HeaderPage title={ title } subtitle={ description } />
                <div class="flex flex-col pt-8 pb-12">
                    <slot />
                </div>
            </main>
        </div>
    </div>
</Base>